.body-content {
    margin-top: 72px;
}

body {
    margin-bottom: 200px;
}

.item-img {
    padding: 20px 0;
    max-width: 100%;
    height: 100%;
}

.img-container {
    height: 350px;
}

/* https://www.w3schools.com/howto/howto_css_image_overlay.asp */
.img-container:hover .item-img {
    filter:contrast(50%);
    transition: all 250ms ease-in;
    transform: scale(1.2);
}

.img-container:hover .middle {
    opacity: 1;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name {
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 16px 32px;
}
/*******************************************/

.sign-up-form {
    margin: 0 auto;
}

table td {
    border: 1px solid blue;
}

.td-text{
    text-align: center;
}

.td-title {
    font-weight: bold;
    font-size: 1.2em;
    padding: 0 20px;
    color: black;
    text-decoration: none !important;
    display: block;
}

.list-img:hover {
    /* https://codepen.io/wifeo/pen/qzwkb */
    box-shadow: 0px 0px 150px #000000;
    transition: all 200ms ease-in;
    transform: scale(1.25);
}

table {
    margin-top: 50px;
}

.error,
.message {
    color: mediumslateblue;
}

.dotted {
    text-decoration: underline;
    text-decoration-style: dotted;
    font-style: italic;
}

.td-descr {
    margin-top: 20px;
    font-style: italic;
}

.glyphicon-heart {
    color: blue;
}

.favorite,
.unfavorite {
    text-align: center;
}

.toggle {
    float: right;
}

.hide {
    display: none;
}

.show {
    display: block;
}