<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1>
        <span th:text="${title}"></span>
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </h1>

    <form method="post" style="max-width:600px;" th:object="${item}">
        <div class="form-group">
            <label th:for="url">Item Url</label>
            <input class="form-control" th:field="*{url}" placeholder="https://" />
            <span th:errors="*{url}" class="error"></span>

            <input type="hidden" class="form-control" th:field="*{title}" />
            <span th:errors="*{title}" class="error"></span>

            <input type="hidden" class="form-control" th:field="*{image}" />
            <span th:errors="*{image}" class="error"></span>

            <input type="hidden" class="form-control" th:field="*{description}" />
            <span th:errors="*{description}" class="error"></span>
        </div>

        <input type="submit" value="Add" />

    </form>
</div>
</body>
</html>