<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1>
        <span th:text="${title}"></span>
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </h1>

    <form method="post" style="max-width:600px;" th:object="${wishlist}">
        <div class="form-group">
            <label th:for="name">Name</label>
            <input class="form-control" th:field="*{name}" />
            <span th:errors="*{name}" class="error"></span>
        </div>

        <input type="submit" value="Add" />

    </form>
</div>
</body>
</html>