<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1>
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        <span th:text="${title}"></span>
    </h1>

    <form method="post" style="max-width:600px;" th:object="${item}" action="/item/edit">
        <div class="form-group">
            <label th:for="url">Item Url</label>
            <input class="form-control" th:field="*{url}" th:readonly="true"/>
            <span th:errors="*{url}" class="error"></span>
        </div>

        <div class="form-group">
            <label th:for="title">Title</label>
            <input class="form-control" th:field="*{title}" />
            <span th:errors="*{title}" class="error"></span>
        </div>

        <div class="form-group">
            <label th:for="description">Description</label>
            <textarea class="form-control" rows="5" th:field="*{description}" />
            <span th:errors="*{description}" class="error"></span>
        </div>

        <div class="form-group">
            <label th:for="image">Image Url</label>
            <input class="form-control" th:field="*{image}" />
            <span th:errors="*{image}" class="error"></span>
        </div>

        <input type="hidden" th:value="${itemId}" name="itemId" />
        <input type="submit" value="Finish!" />
    </form>
</div>

</body>
</html>