<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/bootstrap-toggle.js}"></script>
    <link th:href="@{/css/bootstrap-toggle.min.css}" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />

    <title th:text="'Wishlist' + ${title == null ? '' : ' :: ' + title}">Wishlist</title>
</head>
<body>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <!--https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_navbar_collapse&stacked=h-->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a th:unless="${session.user_id}" th:href="@{/wishlist}" class="navbar-brand">
                <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                <span>Wishlist</span>
            </a>
            <a th:if="${session.user_id}" th:href="@{/home}" class="navbar-brand">
                <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                <span>Wishlist</span>
            </a>
        </div>
        <div class="navbar-collapse collapse" id="myNavbar" role="navigation">
            <ul class="nav navbar-nav">
                <li><a th:if="${session.user_id}" th:href="@{/wishlist}">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span>All Lists</span>
                </a>
                </li>
                <li><a th:href="@{/item}">
                    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                    <span>Browse</span>
                    </a>
                </li>
                <li><a th:href="@{/wishlist/add}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span>Create Wishlist</span>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li th:unless="${session.user_id}"><a th:href="@{/login}">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <span>Login</span>
                    </a>
                </li>
                <!--https://www.javacodegeeks.com/2014/05/spring-mvc-and-thymeleaf-how-to-acess-data-from-templates.html-->
                <li th:if="${session.user_id}"><a th:href="@{/logout}">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>

<!--http://www.bootstraptoggle.com/-->
<div th:fragment="toggle-fragment" class="row">
    <div class="col col-sm-1"></div>
    <div class="col col-sm-10 toggleDiv">
        <input class="myToggle" type="checkbox" data-toggle="toggle" data-on="&lt;span class='glyphicon glyphicon-picture'&gt;&nbsp;Images&lt;span&gt;" data-off="&lt;span class='glyphicon glyphicon-th-list'&gt;&nbsp;List&lt;span&gt;" data-onstyle="success" data-offstyle="default" checked="true"/>
    </div>
    <div class="col col-sm-1"></div>
</div>

</body>
</html>
