<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <div th:replace="fragments :: toggle-fragment"></div>

    <div th:fragment="wishlist-display" class="myWishlist">
        <div class="show">
            <div th:fragment="items-grid" class="row">
                <div class="col col-sm-1"></div>
                <div class="col col-sm-10">
                    <h1>
                        <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                        <span th:text="${title}"></span>
                        <span th:if="${owner}" style="font-size:20px"> by <a  th:href="@{/user/} + ${owner.username}" th:text="${owner.username}"></a>
                        </span>
                    </h1>

                    <div th:fragment="items-icon">
                        <div th:unless="${items} and ${items.size()}">
                            <h2>No Items</h2>
                        </div>
                        <div th:if="${items} and ${items.size()}">

                            <h3 th:text="${items.size() + ' Item(s)'}"></h3>

                            <div th:each="item : ${items}" class="col col-sm-4 text-center">
                                <a th:href="@{/item?id=} + ${item.id}">
                                    <div class="img-container">
                                        <img class="item-img" th:src="${item.image}"
                                             onerror="src='http://salasphotography.com/_wizardimages/lightblue_square.jpg';
                                     alt='Image unavailable'" />
                                        <div class="middle">
                                            <p class="name" th:text="${item.title}"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-1"></div>
            </div>
        </div>
        <div class="hide">
            <div th:replace="list-items :: items-list" class="row"></div>
        </div>
    </div>

</div>

<script th:src="@{/js/script.js}"></script>
</body>
</html>