<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content text-center">

    <h1>
        <a th:href="${item.url}">
        <span th:text="${#strings.capitalizeWords(title)}"></span>
        </a>
    </h1>

    <a th:href="${item.url}">
    <img class="item-detail-img" th:src="${item.image}"></img>
    </a>
    <p th:text="${item.description}"></p>
    <br />
    <a th:if="${isOwner}" th:href="@{/item/edit/} + ${item.id}">Edit</a>

</div>

</body>
</html>