<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <div th:fragment="items-list" class="row">
        <div class="col col-sm-1"></div>
        <div class="col col-sm-10">
            <h1>
                <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                <span th:text="${title}"></span>
                <span th:if="${owner}" style="font-size:20px"> by <a  th:href="@{/user/} + ${owner.username}" th:text="${owner.username}"></a>
                </span>
            </h1>

            <div th:unless="${items} and ${items.size()}">
                <h2>No Items</h2>
            </div>

            <div th:if="${items} and ${items.size()}">

                <h3 th:text="${items.size() + ' Item(s)'}"></h3>
                <table>
                    <thead>
                    <tr>
                        <th class="col-sm-2"></th>
                        <th class="col-sm-5"></th>
                        <th class="col-sm-2"></th>
                        <th class="col-sm-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:each="item : ${items}">
                        <tr>
                            <td>
                                <a th:href="@{/item?id=} + ${item.id}">
                                    <img class="list-img img-responsive center-block" th:src="${item.image}"/>
                                </a>
                            </td>
                            <td class="td-text">
                                <a class="td-title" th:href="@{/item?id=} + ${item.id}" th:text="${item.title}" />
                                <div class="td-descr">
                                    <span class="dotted">Comment: </span>
                                    <span th:text="${'``' + item.description +'``'}"></span>
                                    <form th:if="${session.user_id == item.owner.id}" method="post" style="max-width:600px;" action="/item/editTest">
                                        <div class="form-group">
                                            <textarea rows="5" th:text="${item.description}" name="description" />
                                        </div>

                                        <input type="hidden" th:value="${item.id}" name="itemId" />
                                        <input type="submit" value="Finish!" />
                                    </form>
                                </div>
                                <div th:if ="${session.user_id != null}" class="td-text">
                                    <span class="dotted">Added:</span><span th:text="${' ' + #dates.format(item.date, 'MMM dd, yyyy')}" />
                                </div>
                            </td>
                            <td>
                                <ul class="td-text list-unstyled">
                                    <li><a th:href="@{/wishlist?id=} + ${item.wishlist.id}" th:text="${item.wishlist.name}"></a></li>
                                    <li>by</li>
                                    <li><a th:href="@{/user/} + ${item.owner.username}">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                        <span th:text="${item.owner.username}"></span>
                                    </a></li>

                                </ul>

                            </td>
                            <td th:if="${session.user_id != null}">
                                <div th:if="${not #lists.contains(item.favoritedBy, sessionUser)}">
                                    <div class="favorite" th:id="${item.id}"></div>
                                </div>
                                <div th:if="${#lists.contains(item.favoritedBy, sessionUser)}">
                                    <div class="unfavorite" th:id="${item.id}"></div>
                                </div>
                            </td>
                            <td th:unless="${session.user_id != null}">
                                <div class="td-text">
                                    <span class="dotted">Added:</span><span th:text="${' ' + #dates.format(item.date, 'MMM dd, yyyy')}" />
                                </div>
                            </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col col-sm-1"></div>
    </div>
</div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>