<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <div th:fragment="users-list" class="row">
        <div class="col col-sm-1"></div>
        <div class="col col-sm-10">

            <h1>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <span th:text="${userTitle}"></span>
            </h1>

            <a th:unless="${session.user_id}" class="pull-right" th:href="@{/sign-up}">+ Sign-Up</a>

            <div th:unless="${users} and ${users.size()}">
                <h2>No Users</h2>
            </div>

            <div th:if="${users} and ${users.size()}">

                <h3 th:text="${users.size() + ' User(s)'}"></h3>

                <div class="list-group">
                    <a th:each="user : ${users}" class="list-group-item list-group-item-action" th:href="@{/user/} + ${user.username}">
                        <span th:text="${user.username}"></span>
                    </a>
                </div>

            </div>
        </div>
        <div class="col col-sm-1"></div>
    </div>

</div>
</body>
</html>