<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <div th:fragment="wishlists-list" class="row">
        <div class="col col-sm-1"></div>
        <div class="col col-sm-10">
            <h1>
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                <span th:text="${wishlistTitle}"></span>
            </h1>

            <a th:if="${user == null or user.id == session.user_id}" class="pull-right" th:href="@{/wishlist/add}">+ New Wishlist</a>

            <div th:unless="${wishlists} and ${wishlists.size()}">
                <h2>No Wishlists</h2>
            </div>

            <div th:if="${wishlists} and ${wishlists.size()}">

                <h3 th:text="${wishlists.size() + ' Wishlist(s)'}"></h3>

                <div class="list-group">
                    <a th:each="wishlist : ${wishlists}" class="list-group-item list-group-item-action" th:href="@{/wishlist?id=} + ${wishlist.id}">
                        <span th:text="${wishlist.name}"></span>
                        <span class="badge" th:text="${#lists.size(wishlist.items)}"></span>
                    </a>
                </div>
            </div>

        </div>
        <div class="col col-sm-1"></div>
    </div>

    <div th:if="${users}" th:replace="list-users :: users-list"></div>

</div>
</body>
</html>