<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 class="sign-up-form text-center">
        <span th:text="${title}"></span>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </h1>

    <form class="sign-up-form" method="post" style="max-width:600px;">
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" class="form-control" name="username" type="text" th:value="${username}"/>
            <span class="error" th:text="${error}"></span>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" class="form-control" name="password" type="password" />
        </div>

        <input type="submit" value="Log In" />

    </form>

    <p class="text-center">No account? <a th:href="@{/sign-up}" th:text="Create"></a> one!</p>
</div>
</body>
</html>