<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 class="sign-up-form text-center">
        <span th:text="${title}"></span>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </h1>

    <form class="sign-up-form" method="post" style="max-width:600px;" th:object="${user}">
        <div class="form-group">
            <label th:for="username">Username</label>
            <input class="form-control" th:field="*{username}" />
            <span th:errors="*{username}" class="error"></span>
            <span class="error" th:text="${usernameExists}"></span>
        </div>

        <!--<div class="form-group">-->
            <!--<label th:for="email">Email</label>-->
            <!--<input class="form-control" th:field="*{email}" type="email" />-->
            <!--<span th:errors="*{email}" class="error"></span>-->
        <!--</div>-->

        <div class="form-group">
            <label th:for="password">Password</label>
            <input class="form-control" th:field="*{password}" type="password" />
            <span th:errors="*{password}" class="error"></span>
        </div>

        <div class="form-group">
            <label th:for="confirm">Confirm Password</label>
            <input class="form-control" id="confirm" type="password" name="confirm" />
            <span class="error" th:text="${confirmError}"></span>
        </div>

        <input type="submit" value="Create" />

    </form>
</div>
</body>
</html>