<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <p th:if="${message}" class="error message text-center" th:text="${message}"></p>

    <div th:replace="list-wishlists :: wishlists-list"></div>

    <div th:replace="fragments :: toggle-fragment"></div>
    <div th:replace="items :: wishlist-display"></div>

    <div class="row">
        <div class="col col-sm-1"></div>
        <div class="col col-sm-10">
            <h1>
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <span th:text="${#strings.capitalizeWords(faveTitle)}"></span>
            </h1>

            <div th:include="items :: items-icon" th:with="items=(${favorites}), title=(${faveTitle})"></div>
        </div>
        <div class="col col-sm-1"></div>
    </div>

</div>

<script th:src="@{/js/script.js}"></script>
</body>
</html>