<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <div th:replace="fragments :: toggle-fragment"></div>

    <div class="row">
        <div class="col col-sm-1"></div>
        <div class="col col-sm-10">
            <a th:if="${session.user_id == wishlist.creator.id}" th:href="@{/item/add?wishlistId=} + ${wishlist.id}">Add Item</a>
        </div>
        <div class="col col-sm-1"></div>
    </div>
    <div th:fragment="wishlist-display" class="myWishlist">
        <div class="show">
            <div th:replace="items :: items-grid" class="row"></div>
        </div>
        <div class="hide">
            <div th:replace="list-items :: items-list" class="row"></div>
        </div>
    </div>

</div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>